
<!DOCTYPE html>
<html>
<head>
  <title>Ollie Bike Sharing</title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>

  <div class="container">:
      <div class="nav">
<h2>Ollie</h2>
  <ul>
    <li>sign up</li>
    <li>search bikes</li>
    <li>reserve a bike</li>
    <li>about us</li>
  </ul>
  </div>

  <div class="main">
  <h1> Ollie Bike Sharing </h1>
  <h3> Share your pedals with the world </h3>
<p> Need a set of wheels while you're in town? Use Ollie to pair your perfect vacation with a stylish,
affordable bike rental. Here is a list of cities where you can find us. Just remember cyclists are universally hated and you will probably b killed by an angry london uber driver,
or perhaps an unexpected salmon to the face on the streets of sarnak. But if you must cycle please
give me your money rather than some tool without a website </p>
  <img
       src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-1/bikes2.jpg"/>


  <video width='350' height='350' controls>
     <source src='https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-1/ollie.mp4' type ='video/mp4'>
   </video>
 </div>
</div>

<a href='cities.html'>list</a>.

</body>
</html>

<p>
<!-- # Using u. we create a list, using li gives the text as a string in between.
# using H we declare a title, numbers 1- 6 are font size (1 is largest)
# using p we declare a body of text to go in the website.
# Notice the divs all over, Div nav divides that section to be a navigation bar,
# Div container is the overall container for the website
# Div main divdes that section into the main body of the website
# this adds a video, we use width and height to control video size, controls is the video controls
#this turns list in the paragraph into a link - line 37
# This indicates the head of the page, # The below indicates the bginning of the body of the page -->
</p>
